name: Auto-merge Talent Updates

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - master

jobs:
  auto-merge:
    uses: peavers/workflow-templates/.github/workflows/auto-merge-pr.yml@master
    with:
      allowed_user: peavers
      use_self_hosted: false
    secrets: inherit
