name: Cleanup Old Releases

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  cleanup-releases:
    uses: peavers-warcraft/workflow-templates/.github/workflows/cleanup-releases.yml@main
    with:
      use_self_hosted: false
    secrets: inherit
