name: Package and Release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  package-and-release:
    uses: peavers/workflow-templates/.github/workflows/packaging.yml@master
    with:
      use_self_hosted: false
    secrets: inherit
