name: Update Version and Tag

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
    inputs:
      version_bump:
        description: 'Version bump type'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major
      release_notes:
        description: 'Release notes'
        required: false
        type: string

permissions:
  contents: write
  actions: write

jobs:
  update-version-and-tag:
    uses: peavers-warcraft/workflow-templates/.github/workflows/release-on-schedule.yml@master
    with:
      toc_file: PeaversTalentsData.toc
      addon_name: PeaversTalentsData
      packaging_workflow: package-and-release.yml
      git_user_name: Chris Turner
      git_user_email: peavers@gmail.com
      use_self_hosted: false
    secrets: inherit
